body {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    overflow: hidden;
    background: #1E1E1E;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.middle-cross::after,
.middle-cross::before {
    position: fixed;
    top: 19%;
    left: 50%;
    content: "\2726";
    font-size: 8rem;
    text-shadow: 0 0 12px red;
    transform: translate(-50%, -50%) scale(1.2);
    animation: ka 2s forwards;
}

.middle-cross::after { /* Foreground */
    background: red;
    background-clip: text;
    color: transparent;
}

.middle-cross::before { /* Shadow */
    color: transparent;
}

.v-and-h-cross {
    top: 19%;
    width: 10px;
    height: 80px;
    border-radius: 100% / 100%;
    background-color: red;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow:
        0 0 15px 10px red,
        0 0 60px 15px red,
        0 0 90px 20px red;
}

.v-and-h-cross:nth-child(1) {
    top: 19%;
    left: 50%;
    animation: ig 2s forwards;
}

.v-and-h-cross:nth-child(2) {
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    height: 150px;
    animation: an 2s forwards;
}

@keyframes ka {
    0% {
        transform: translate(-50%, -50%) scale(1.2);
        text-shadow: 0 0 12px red;
    }
    80% { text-shadow: 0 0 12px red; }
    90% {
        transform: translate(-50%, -50%) scale(0.1);
        text-shadow: 0 0 2px red;
    }
    100% { opacity: 0; }
}

@keyframes ig {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    80% { opacity: 1; }
    100% {
        box-shadow:
            0 0 5px 4px red;
        transform: translate(-50%, -50%) scale(1, 0.1);
        opacity: 0;
    }
}

@keyframes an {
    0% {
        transform: translate(-50%, -50%) rotate(90deg) scale(1);
    }
    80% { opacity: 1; }
    100% {
        box-shadow:
            0 0 5px 2px red;
        transform: translate(-50%, -50%) rotate(90deg) scale(0.2, 2);
        opacity: 0;
    }
}

@keyframes descend {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.iris{
    position: fixed;
    top: -2%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
}
.pupil{
    position: fixed;
    top: -2%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    color: red;
}
