body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background: #222222;
    height: 100vh;
    overflow: hidden;
}
.outer{
    position: fixed;
    top: -2%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    color: white;
}
.middle{
    position: fixed;
    top: -6.29%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    background:linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 0 0/100% 200%;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    animation: a 2s linear infinite;
}
@keyframes a {
    to {background-position:0 -200%}
}
.center{
    position :fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: white;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
.txt_field input{
    position: relative;
    left:-25px;
    top: -20px;
    padding: 0 0px;
    height: 40px;
    font-size: 32px;
    font-family: 'JetBrains Mono', monospace;
    border: 0px;
    border-radius: 10px;
    background-color: grey;
    margin-top: -20%;
}
.txt_field input:hover{
    transition: .5s;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.txt_field input:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
input[type="submit"]{
    position: relative;
    left: 419px;
    top: -60px;
    width:10%;
    height: 40px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    background: grey;
    outline: none;
    border: 0px;
    border-radius: 10px;
}
input[type="submit"]:hover{
    transition: .5s;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#dec
{
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}